nav.audio-controls {
    button {
        height: 40px;
        width: 40px;
        &.rewind {
            background-image: url(../images/audio_rewind_purple.svg);
        }
        &.play {
            background: url(../images/audio_play_purple.svg);
            display: inline-block;
        }
        &.pause {
            background: url(../images/audio_pause_purple.svg);
            display: none;
        }
    }
    &.playing {
        .play {
            display: none;
        }
        .pause {
            display: inline-block;
        }
    }
    &.disabled {
        button {
            opacity: 0.5;
        }
    }
}